.option-bar {
    position: absolute;;
    top:0;
    left:0;
    width:100%;
    background:#0f0f0f;
    color:#ddd;
}
.btn {
    border: 0;
    outline: 0;
    border-right: 1px solid #222;
    color:#ddd;
    background: transparent;
}
.btn:last-child {
    border-right:none;
}
.btn.active {
    color:rgb(233, 115, 86);
}