h1 {
    padding: 40px 0 20px;
}
.block__header {
    background: rgb(41, 25, 51);
    color:#eee;
    display: flex;
    align-items: center;
    vertical-align: baseline;
    padding: 20px;
}
.block__elem {
    border-right: 1px solid rgba(255,255,255,0.2);
    width:33.333%;
    font-size:10px;
}
.block__elem:last-child {
    border-right: none;
}
.block__content__item {
    border-bottom:1px solid #eee;
    padding:20px;
    color: #444;
    font-size: 13px;
}
.block__content__item:nth-child(odd) {
    background:#f9f9f9;
}
.block__content__item:last-child {
    border-bottom: none;
}
.block_content_row {
    width:100%;
    display: flex;
    align-items: center;
    vertical-align: baseline;
}
.block__row__item {
    width:33.333%;
    text-align: center;
    font-weight: bold;
}
.block__row__item--team {
    padding:5px 0 10px;
    font-weight: bold;
}
.block__row__item--win {
    color:#aaa;
}
.increase {
    color:rgb(55, 182, 55);
}
.decrease {
    color:rgb(161, 40, 40);
}
%btn {
    outline:none;
    border:0;
    background:#eee;
    font-weight: bold;
    color:rgb(91, 42, 124);
    font-size: 14px;
    padding: 5px 10px;
    margin: 5px 10px;
}
%btn:hover {
    background:#ddd;
    color:rgb(123, 53, 170);
}
%btn:disabled {
    background:rgb(199, 195, 195);
    color:rgb(94, 82, 102);
    cursor: not-allowed;
    pointer-events: all !important;
}
.btn--show_more {
    @extend %btn;
}
.btn--stop_pulling, .btn--start_pulling {
    @extend %btn;
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 5px;
  }
@mixin transform($degrees) {
    transform: rotate($degrees);
    -webkit-transform: rotate($degrees);
}
.up {
@include transform(-135deg);
}
  
.down {
@include transform(45deg);
}

@media only screen and (min-width: 500px) {
    .block__elem {
        font-size:14px;
    }
    .block__content__item {
        border-bottom:1px solid #eee;
        padding:20px;
        color: #444;
        font-size: 16px;
    }
}
      